#souncloud_players_customizer_form {
	float:left;
	width:50%; 
}
#souncloud_players {
	background: #033333;
	border-radius:4px;
	border:#333330 solid 2px;
	float:right;
	width:50%; 
}
#souncloud_players td {
	padding:0 8px 0 4px;
}
#souncloud_players iframe {
	border:#333330 solid 2px;
	border-radius:4px;
}
#header {
	background: #033333;
	height: 23px;
	line-height: 23px;
	padding:0 4px 0 40px !important;
	color:#FFF;
	background-image:url(../images/icon_scec_96x96.png);
	background-repeat:no-repeat;
	background-position:4px center;
	background-size:32px 32px;
	margin:0px;
}
